[Unit]
Description=A program automate emailing xkcd comics to yourself
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/local/bin/python3 /usr/local/bin/xkcd-emailer.py

[Install]
WantedBy=multi-user.target